{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Site.RegularPages "Type" "publication") }}

<!-- Publications widget -->
<div class="row">
  <div class="col-xs-12 col-md-12 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/publication/" | relLangURL }}">
        {{ i18n "more_publications" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-xs-12 col-md-12">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if and ($page.Params.publication_type) (ne $page.Params.publication_type "-1") }}
      {{ $.Scratch.Set "recent_pubs" (where (where $.Site.RegularPages "Type" "publication") ".Params.publication_types" "intersect" (slice $page.Params.publication_type)) }}
    {{ else }}
	{{ if $.Site.Params.params.year_splitting }}
		<!-- No support of page, need to check that -->        
		{{ range ((where $.Data.Pages "Type" "publication").GroupByDate "2006") }}
		<h2>{{ .Key }}</h2>
	

		<ul class="fa-ul">
		{{ range .Pages }}
		{{ partial "publication_li_simple" . }}
		{{ end }}
		</ul>
		{{ end }}
	{{ else }} 
		<ul class="fa-ul">
		{{ range first $page.Params.count (where $.Data.Pages "Type" "publication") }}
		{{ partial "publication_li_simple" . }}
		{{ end }}
		</ul>
	{{ end }} 
   {{ end }}
    

  </div>
</div>
